<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <div class="toolbar-left">
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>code</mat-icon>
      </button>
      <span class="app-title">CodeBridge</span>
    </div>
    <div class="toolbar-right">
      <button mat-button [routerLink]="['/projects']">Projects</button>
      <button mat-button [routerLink]="['/environments']">Environments</button>
    </div>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>

