<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/api-test" routerLinkActive="active-link">
        <mat-icon>api</mat-icon>
        <span>API Testing</span>
      </a>
      <a mat-list-item routerLink="/server" routerLinkActive="active-link">
        <mat-icon>dns</mat-icon>
        <span>Server</span>
      </a>
      <a mat-list-item routerLink="/docker" routerLinkActive="active-link">
        <mat-icon>developer_board</mat-icon>
        <span>Docker</span>
      </a>
      <a mat-list-item routerLink="/git" routerLinkActive="active-link">
        <mat-icon>source</mat-icon>
        <span>GitLab</span>
      </a>
      <a mat-list-item routerLink="/projects" routerLinkActive="active-link">
        <mat-icon>folder</mat-icon>
        <span>Projects</span>
      </a>
      <a mat-list-item routerLink="/environments" routerLinkActive="active-link">
        <mat-icon>public</mat-icon>
        <span>Environments</span>
      </a>
      <a mat-list-item routerLink="/collections" routerLinkActive="active-link">
        <mat-icon>collections</mat-icon>
        <span>Collections</span>
      </a>
      <a mat-list-item routerLink="/organization" routerLinkActive="active-link">
        <mat-icon>business</mat-icon>
        <span>Teams</span>
      </a>
      <a mat-list-item routerLink="/audit-logs" routerLinkActive="active-link">
        <mat-icon>history</mat-icon>
        <span>AI DB Agent</span>
      </a>
      <a mat-list-item routerLink="/login" routerLinkActive="active-link">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CodeBridge</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
